/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the navbar */
.navbar {
    background-color: #0b0b0b;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    color: #ff002b;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-items {
    display: flex;
    align-items: center;
}

.search-bar {
    margin-right: 10px; /* Adjust spacing between search bar and buttons */
    background-color: #0b0b0b;
}

.form-control {
    width: 200px;
    height: 38px;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons button {
    margin-left: 10px; /* Adjust spacing between buttons */
}
.cart {
    color: rgb(255, 0, 0);
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
  }
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  

}
.product-card {
  flex:0 0 calc(20% - 20px); /* Calculate width for 5 cards in a row with margins */
  margin: 10px; /* Adjust margin to create spacing between cards */
  background-color: #fff;
  padding: 1em;
  box-shadow: 0 5px 5px #e1e1e1;
  font-family: Arial, Helvetica, sans-serif;

  }
  .product-card img {
    max-height: 300px;
    min-width: 200px;
    
  }
  .product-card h4 {
    font-size: 1.3em;
    margin: 0.5em 0;
    font-weight: bold;
  }
  .product-card div {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product-card button {
    background-color: #000;
    color: #c0c0c0;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-card:hover {
    background-color: rgb(123, 131, 139);
    color: #fff;
  }
  .product-card:hover button {
    color: #000;
    background-color: #fff;
  }
  @media screen and (max-width: 1200px) {
    .product-card {
      flex: 0 0 calc(25% - 20px); /* Reduce width for four cards in a row on medium screens */
    }
  }
  
  @media screen and (max-width: 992px) {
    .product-card {
      flex: 0 0 calc(33.33% - 20px); /* Reduce width for three cards in a row on small screens */
    }
  }
  
  @media screen and (max-width: 768px) {
    .product-card {
      flex: 0 0 calc(50% - 20px); /* Reduce width for two cards in a row on extra small screens */
    }
  }

  /* Add this to your cart.css */
.notification {
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
}
